<div class="container">
  <div class="row">
    <table class="user">
      <th><%= @user.name %>のページ</th>
      <tr class="user_speace">
        <td class="link">メールアドレス: <%= @user.email %></td>
      </tr>
      <tr class="user_speace">
        <td class="link"><%= link_to "一覧へ", pictures_path %></td>
      </tr>
    </table>
  </div>
</div>
